#ALIAS TO MAKE THINGS A FUCK TON EASIER

#ALLOW ALIAS TO BE SUDO'd
alias sudo='sudo '

#RECURSIVELY REMOVE .DS_STORE FILES
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

#COLORED LS
alias ls='ls -GFh'

#FULL OUTPUT LS
alias ll="ls -ahltrGF"

#SHORTHANDED
alias d="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias g="git"
alias h="history"
alias j="jobs"
alias v="vim"
alias e="eza -bghHliS --git"
alias cat="bat"

#NETWORKING
alias myip='curl ifconfig.me'                       # myip:         Public facing IP Address
alias netCons='lsof -i'                             # netCons:      Show all open TCP/IP sockets
alias flushDNS='dscacheutil -flushcache'            # flushDNS:     Flush out the DNS Cache
alias lsock='sudo /usr/sbin/lsof -i -P'             # lsock:        Display open sockets
alias lsockU='sudo /usr/sbin/lsof -nP | grep UDP'   # lsockU:       Display only open UDP sockets
alias lsockT='sudo /usr/sbin/lsof -nP | grep TCP'   # lsockT:       Display only open TCP sockets
alias ipInfo0='ipconfig getpacket en0'              # ipInfo0:      Get info on connections for en0
alias ipInfo1='ipconfig getpacket en1'              # ipInfo1:      Get info on connections for en1
alias openPorts='sudo lsof -i | grep LISTEN'        # openPorts:    All listening connections
alias ports="sudo lsof -iTCP -sTCP:LISTEN -n -P | awk 'NR>1 {print \$9, \$1, \$2}' | sed 's/.*://' | while read port process pid; do echo \"Port \$port: \$(ps -p \$pid -o command= | sed 's/^-//') (PID: \$pid)\"; done | sort -n"
alias showBlocked='sudo ipfw list'                  # showBlocked:  All ipfw rules inc/ blocked IPs
alias flush="sudo killall -HUP mDNSResponder"
alias vpnf="ssh -oKexAlgorithms=+diffie-hellman-group1-sha1 admin@192.168.96.254"
alias unfuck="git fetch origin && git reset --hard FETCH_HEAD && git checkout . && git clean -f -x -d && git submodule update && git rebase --abort && git merge --abort"
alias epoch="date +%s"
alias docker="/Applications/Docker.app/Contents/Resources/bin/docker"
alias tgdel='find ./ -type d -name ".terragrunt-cache" -exec rm -rf {} +'

#SHOW/HIDE EVERYTHING - GREAT FOR PRESENTATIONS
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
