
#   gos:  SSH for my work computer
#   ---------------------------------------------------------
	function gos(){
	    if [[ $# -eq 0 ]]; then
            echo "No arguments provided"
        else
            ssh jcarmello@"$1";
        fi
	}

